<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr />
    <ul class="list-group">
      <a
        class="list-group-item link-style"
        *ngFor="let ingredient of ingredients; let i = index"
        (click)="onEditItem(i)"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})

        <button
          class="btn btn-danger ingred-btn"
          type="button"
          (click)="deleteIngredient(i)"
        >
          Delete
        </button>
      </a>
    </ul>
  </div>
</div>
