<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" [(ngModel)]="filteredStatus" />
      <hr />
      <!-- appStatus is a promise so the async pipe must be used so it knows the data will be returned after some time -->
      <h4>App Status: {{ appStatus | async | uppercase }}</h4>
      <hr />
      <button class="btn btn-primary" (click)="onAddServer()">
        Add Server
      </button>
      <br />
      <hr />
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter: filteredStatus:'stable'"
          [ngClass]="getStatusClasses(server)"
        >
          <span class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten: 16 }}</strong> |
          {{ server.instanceType | uppercase }} |
          {{ server.started | date: "fullDate" }}
        </li>
      </ul>
    </div>
  </div>
</div>
